docs/workflows/vibe-printing-topic-planner.workflow.json
{
  "name": "Vibe Printing - Topic Planner",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vibe-printing/topic-planner",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "798c57ef-d75c-453f-9ba6-78140820f6e0",
      "name": "Receive Planning Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [
        -280,
        0
      ],
      "webhookId": "8c5b53f6-89dd-4d43-a16f-433adfbf9062"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\n\nconst clamp = (value, min, max) => {\n  if (!Number.isFinite(value)) {\n    return min;\n  }\n\n  return Math.min(max, Math.max(min, Math.floor(value)));\n};\n\nconst slugify = (value) => String(value)\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '');\n\nconst theme = {\n  id: String(body.themeId ?? 'compressed-curiosity'),\n  thesis: 'Thirty-to-forty-five second Shorts that explain surprising history, human performance, and everyday science through a fast narrative payoff.',\n  publishSlots: ['11:00', '15:00', '19:00'],\n};\n\nconst laneCatalog = [\n  {\n    id: 'history-flash',\n    label: 'History flash',\n    description: 'Unexpected fact, one setup beat, one reversal, one memorable closing line.',\n    angles: [\n      {\n        titleAngle: 'Why Roman concrete survived for centuries',\n        seedQuestion: 'Why is Roman concrete still standing when modern concrete often cracks much faster?',\n        draftHook: 'Roman concrete had a flaw that made it harder to destroy.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'Why the marathon is such a strange distance',\n        seedQuestion: 'Why is a marathon 26.2 miles instead of a clean round number?',\n        draftHook: 'The marathon distance exists because one royal family wanted a better view.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'How ancient armies moved faster than most people think',\n        seedQuestion: 'How did premodern armies cover distance without engines or modern logistics?',\n        draftHook: 'Ancient armies were slow until you look at what they did every single day.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'Why the Romans copied enemy weapons on purpose',\n        seedQuestion: 'Why would a dominant empire adopt gear it first saw on opponents?',\n        draftHook: 'One reason Rome kept winning was that it was willing to steal good ideas fast.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'How one bad map changed exploration for years',\n        seedQuestion: 'How can a single mapping error distort trade and exploration decisions?',\n        draftHook: 'A wrong line on a map can shape history longer than the person who drew it.',\n        riskLevel: 'low',\n      }\n    ]\n  },\n  {\n    id: 'human-limits',\n    label: 'Human limits',\n    description: 'Question about speed, strength, endurance, perception, or survival answered with one clean benchmark.',\n    angles: [\n      {\n        titleAngle: 'How fast elite sprinters really move',\n        seedQuestion: 'What does world-class sprint speed actually look like in everyday terms?',\n        draftHook: 'At top speed, elite sprinters are moving faster than most people can process in real time.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'What a marathon does to the body',\n        seedQuestion: 'What changes inside the body during and after marathon effort?',\n        draftHook: 'A marathon does not just make you tired. It forces your whole body into negotiation mode.',\n        riskLevel: 'medium',\n      },\n      {\n        titleAngle: 'How long trained divers can hold their breath',\n        seedQuestion: 'How much of breath-holding is lung size versus training and chemistry?',\n        draftHook: 'The biggest limit in breath-holding is not where most people think it is.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'Why pilots can black out in a turn',\n        seedQuestion: 'What does high g-force do to blood flow and perception?',\n        draftHook: 'Pilots do not black out because they are weak. They black out because blood has weight.',\n        riskLevel: 'medium',\n      },\n      {\n        titleAngle: 'How little sleep starts to impair reaction time',\n        seedQuestion: 'At what point does sleep loss meaningfully affect coordination and judgment?',\n        draftHook: 'You can feel functional on low sleep long after your reaction time stops agreeing.',\n        riskLevel: 'medium',\n      }\n    ]\n  },\n  {\n    id: 'everyday-systems',\n    label: 'Everyday systems',\n    description: 'What actually happens when a familiar system works, explained in plain language with one counterintuitive reveal.',\n    angles: [\n      {\n        titleAngle: 'What turbulence really is',\n        seedQuestion: 'Why does smooth air suddenly turn rough even when the sky looks calm?',\n        draftHook: 'Turbulence feels random from a seat, but the air has a reason every time.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'Why microwaves heat food unevenly',\n        seedQuestion: 'Why do some parts of a meal turn boiling while others stay cold?',\n        draftHook: 'Your microwave is not broken. It is exposing how energy and geometry fight each other.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'How GPS finds you so precisely',\n        seedQuestion: 'How does a phone turn satellite timing into a location dot?',\n        draftHook: 'GPS works because your phone solves a timing puzzle at absurd speed.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'Why airplane food tastes different',\n        seedQuestion: 'What changes in the cabin make the same meal taste flatter in the air?',\n        draftHook: 'Airplane food is not only about bad cooking. Your senses are working under different rules up there.',\n        riskLevel: 'low',\n      },\n      {\n        titleAngle: 'What actually happens when you scan a QR code',\n        seedQuestion: 'How does a camera turn a blocky square into a destination so quickly?',\n        draftHook: 'A QR code looks simple, but your phone has to do more error correction than most people realize.',\n        riskLevel: 'low',\n      }\n    ]\n  }\n];\n\nconst requestedLaneIds = Array.isArray(body.laneIds) && body.laneIds.length > 0\n  ? body.laneIds.map((laneId) => String(laneId))\n  : laneCatalog.map((lane) => lane.id);\n\nconst selectedLanes = laneCatalog.filter((lane) => requestedLaneIds.includes(lane.id));\n\nif (selectedLanes.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'No valid laneIds were supplied.',\n      availableLaneIds: laneCatalog.map((lane) => lane.id),\n    },\n  }];\n}\n\nconst dailyTarget = clamp(Number(body.dailyTarget ?? 3), 1, 6);\nconst backlogPerLane = clamp(Number(body.backlogPerLane ?? 4), 1, 6);\nconst recentAngles = new Set(\n  (Array.isArray(body.recentAngles) ? body.recentAngles : [])\n    .map((value) => String(value).trim().toLowerCase())\n    .filter(Boolean)\n);\n\nconst perLaneBuckets = selectedLanes.map((lane, laneIndex) => {\n  const bucket = lane.angles\n    .slice(0, backlogPerLane + dailyTarget)\n    .filter((angle) => !recentAngles.has(angle.titleAngle.toLowerCase()))\n    .map((angle, angleIndex) => ({\n      topicId: `${lane.id}-${slugify(angle.titleAngle)}`,\n      laneId: lane.id,\n      laneLabel: lane.label,\n      titleAngle: angle.titleAngle,\n      seedQuestion: angle.seedQuestion,\n      draftHook: angle.draftHook,\n      riskLevel: angle.riskLevel,\n      noveltyScore: Number((0.94 - (laneIndex * 0.03) - (angleIndex * 0.04)).toFixed(2)),\n      publishSlot: theme.publishSlots[angleIndex % theme.publishSlots.length],\n      autoPublishEligible: false,\n      operatorMode: 'shadow-review',\n    }));\n\n  return {\n    laneId: lane.id,\n    laneLabel: lane.label,\n    items: bucket,\n  };\n});\n\nconst selectedCandidates = [];\nlet keepSelecting = true;\n\nwhile (keepSelecting && selectedCandidates.length < dailyTarget) {\n  keepSelecting = false;\n\n  for (const bucket of perLaneBuckets) {\n    const nextItem = bucket.items.shift();\n\n    if (!nextItem) {\n      continue;\n    }\n\n    keepSelecting = true;\n    selectedCandidates.push(nextItem);\n\n    if (selectedCandidates.length >= dailyTarget) {\n      break;\n    }\n  }\n}\n\nconst backlogCandidates = perLaneBuckets\n  .flatMap((bucket) => bucket.items)\n  .sort((left, right) => right.noveltyScore - left.noveltyScore)\n  .slice(0, 8);\n\nreturn [{\n  json: {\n    success: true,\n    workflow: 'vibe-printing-topic-planner',\n    generatedAt: new Date().toISOString(),\n    request: {\n      themeId: theme.id,\n      dailyTarget,\n      backlogPerLane,\n      laneIds: selectedLanes.map((lane) => lane.id),\n      recentAnglesCount: recentAngles.size,\n    },\n    theme,\n    selectedCandidates,\n    backlogCandidates,\n    operatorChecklist: [\n      'Validate factual claims before script generation.',\n      'Hold medium-risk human performance topics for explicit review.',\n      'Avoid reusing near-duplicate hooks inside a 14-day window.',\n      'Do not auto-publish until GenSec checks exist downstream.'\n    ],\n    nextStepSuggestion: 'Use one selected candidate as input to a research-pack or script-generation workflow next.',\n  },\n}];"
      },
      "id": "eb9e5f48-f6ce-412a-9010-f57c3efc656b",
      "name": "Build Topic Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c1f20a7d-6fcb-4643-9c10-c1804c17d6bd",
      "name": "Return Planning Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        0
      ]
    }
  ],
  "connections": {
    "Receive Planning Request": {
      "main": [
        [
          {
            "node": "Build Topic Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Topic Batch": {
      "main": [
        [
          {
            "node": "Return Planning Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "3f6c2484-a778-4dc7-96a8-f9da7f12eb15",
  "tags": []
}
