docs/workflows/vibe-printing-dry-run-pipeline.workflow.json
{
  "name": "Vibe Printing - Dry Run Pipeline",
  "description": "End-to-end free dry run for Vibe Printing. Chains the topic planner, research pack builder, short script generator, and production packet builder into one webhook entrypoint for testing.",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "nodes": [
    {
      "id": "0a5b9c47-2912-4a4d-a8b6-bdff9b302aa1",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -280,
        0
      ],
      "onError": "continueRegularOutput",
      "webhookId": "2023e01c-17aa-4206-9c07-bb9df8aa2889",
      "parameters": {
        "httpMethod": "POST",
        "path": "vibe-printing/dry-run-pipeline",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "3f21f215-f43f-46fd-a993-6e1d2424063f",
      "name": "Run Workflow Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body ?? {};\n\nconst normalizeText = (value) => String(value ?? '').trim();\nconst clamp = (value, min, max) => {\n  if (!Number.isFinite(value)) {\n    return min;\n  }\n\n  return Math.min(max, Math.max(min, Math.floor(value)));\n};\nconst slugify = (value) => normalizeText(value)\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '');\nconst lowerFirst = (value) => value.length === 0 ? value : value.charAt(0).toLowerCase() + value.slice(1);\n\nconst laneCatalog = [\n  {\n    id: 'history-flash',\n    label: 'History flash',\n    angles: [\n      {\n        titleAngle: 'Why Roman concrete survived for centuries',\n        seedQuestion: 'Why is Roman concrete still standing when modern concrete often cracks much faster?',\n        draftHook: 'Roman concrete had a flaw that made it harder to destroy.',\n        riskLevel: 'low'\n      },\n      {\n        titleAngle: 'Why the marathon is such a strange distance',\n        seedQuestion: 'Why is a marathon 26.2 miles instead of a clean round number?',\n        draftHook: 'The marathon distance exists because one royal family wanted a better view.',\n        riskLevel: 'low'\n      },\n      {\n        titleAngle: 'How ancient armies moved faster than most people think',\n        seedQuestion: 'How did premodern armies cover distance without engines or modern logistics?',\n        draftHook: 'Ancient armies were slow until you look at what they did every single day.',\n        riskLevel: 'low'\n      }\n    ]\n  },\n  {\n    id: 'human-limits',\n    label: 'Human limits',\n    angles: [\n      {\n        titleAngle: 'How fast elite sprinters really move',\n        seedQuestion: 'What does world-class sprint speed actually look like in everyday terms?',\n        draftHook: 'At top speed, elite sprinters are moving faster than most people can process in real time.',\n        riskLevel: 'low'\n      },\n      {\n        titleAngle: 'What a marathon does to the body',\n        seedQuestion: 'What changes inside the body during and after marathon effort?',\n        draftHook: 'A marathon does not just make you tired. It forces your whole body into negotiation mode.',\n        riskLevel: 'medium'\n      }\n    ]\n  },\n  {\n    id: 'everyday-systems',\n    label: 'Everyday systems',\n    angles: [\n      {\n        titleAngle: 'What turbulence really is',\n        seedQuestion: 'Why does smooth air suddenly turn rough even when the sky looks calm?',\n        draftHook: 'Turbulence feels random from a seat, but the air has a reason every time.',\n        riskLevel: 'low'\n      },\n      {\n        titleAngle: 'Why microwaves heat food unevenly',\n        seedQuestion: 'Why do some parts of a meal turn boiling while others stay cold?',\n        draftHook: 'Your microwave is not broken. It is exposing how energy and geometry fight each other.',\n        riskLevel: 'low'\n      },\n      {\n        titleAngle: 'How GPS finds you so precisely',\n        seedQuestion: 'How does a phone turn satellite timing into a location dot?',\n        draftHook: 'GPS works because your phone solves a timing puzzle at absurd speed.',\n        riskLevel: 'low'\n      }\n    ]\n  }\n];\n\nconst seededCatalog = {\n  'why-roman-concrete-survived-for-centuries': {\n    summary: 'Roman concrete remained durable because ancient builders used volcanic ash and lime in ways that allowed the material to keep reacting over time.',\n    sources: [{\n      title: 'Roman concrete',\n      description: 'Overview of Roman pozzolanic concrete and its long-term durability.',\n      extract: 'Roman concrete used volcanic ash, lime, and aggregate in a mix that helped marine structures stay durable for centuries.',\n      url: 'https://en.wikipedia.org/wiki/Roman_concrete',\n      sourceType: 'seeded-reference'\n    }]\n  },\n  'why-the-marathon-is-such-a-strange-distance': {\n    summary: 'The marathon distance became fixed after the 1908 London Olympic route, and the international standard later locked in 26 miles 385 yards.',\n    sources: [{\n      title: 'Marathon',\n      description: 'Historical explanation of how the modern marathon distance was standardized.',\n      extract: 'The marathon was standardized at 42.195 kilometres after the 1908 London Olympics and was later adopted internationally.',\n      url: 'https://en.wikipedia.org/wiki/Marathon',\n      sourceType: 'seeded-reference'\n    }]\n  },\n  'what-turbulence-really-is': {\n    summary: 'Turbulence is irregular air movement created by shifting wind, terrain, temperature, storms, or wake from other aircraft.',\n    sources: [{\n      title: 'Turbulence',\n      description: 'Overview of turbulent flow in fluids and air.',\n      extract: 'Turbulence is irregular, chaotic fluid motion that appears when air flow breaks into eddies and rapid directional changes.',\n      url: 'https://en.wikipedia.org/wiki/Turbulence',\n      sourceType: 'seeded-reference'\n    }]\n  },\n  'why-microwaves-heat-food-unevenly': {\n    summary: 'Microwave heating varies because energy distribution, geometry, and moisture content do not stay uniform across the dish.',\n    sources: [{\n      title: 'Microwave oven',\n      description: 'How microwave ovens heat food and why heating can be uneven.',\n      extract: 'Microwave ovens heat food by exciting water molecules, but standing waves and uneven energy distribution create hot and cold spots.',\n      url: 'https://en.wikipedia.org/wiki/Microwave_oven',\n      sourceType: 'seeded-reference'\n    }]\n  },\n  'how-gps-finds-you-so-precisely': {\n    summary: 'GPS works by comparing timing signals from multiple satellites and solving for position using those time differences.',\n    sources: [{\n      title: 'Global Positioning System',\n      description: 'Overview of how GPS uses satellite timing for location.',\n      extract: 'GPS determines location by comparing signals from satellites and solving a timing problem that reveals distance from each one.',\n      url: 'https://en.wikipedia.org/wiki/Global_Positioning_System',\n      sourceType: 'seeded-reference'\n    }]\n  }\n};\n\nconst buildResearchPack = (topic) => {\n  const titleAngle = normalizeText(topic.titleAngle);\n  const key = slugify(titleAngle);\n  const seededEntry = seededCatalog[key];\n  const sources = seededEntry?.sources ?? [{\n    title: 'Seed topic brief',\n    description: 'Fallback placeholder for topics that still need a verified source pass.',\n    extract: normalizeText(topic.seedQuestion) || titleAngle,\n    url: '',\n    sourceType: 'seeded-placeholder'\n  }];\n\n  return {\n    success: true,\n    workflow: 'vibe-printing-research-pack-builder',\n    generatedAt: new Date().toISOString(),\n    researchMode: seededEntry ? 'seeded-offline-reference' : 'seeded-placeholder',\n    topic,\n    researchQueries: [\n      titleAngle,\n      normalizeText(topic.seedQuestion),\n      [normalizeText(topic.laneLabel), titleAngle].filter(Boolean).join(' ')\n    ].filter(Boolean),\n    sources,\n    claims: sources.slice(0, 3).map((source, index) => ({\n      claim: source.extract,\n      confidence: Number(((source.sourceType === 'seeded-reference' ? 0.72 : 0.42) - (index * 0.04)).toFixed(2)),\n      sourceLabels: [source.title]\n    })),\n    summary: seededEntry?.summary\n      ?? 'This topic still needs a verified source pass. The current pack preserves the angle, research prompts, and a placeholder claim for downstream dry runs.',\n    storageRecord: {\n      storageMode: 'execution-log',\n      table: 'researchPacks',\n      recordKey: normalizeText(topic.topicId) + '-' + new Date().toISOString().slice(0, 10)\n    }\n  };\n};\n\nconst buildScriptPack = (topic, researchPack) => {\n  const hook = normalizeText(topic.draftHook) || 'Most people miss the real reason this happens.';\n  const topClaim = normalizeText(researchPack.claims?.[0]?.claim) || normalizeText(researchPack.summary) || normalizeText(topic.seedQuestion);\n  const supportClaim = normalizeText(researchPack.claims?.[1]?.claim) || topClaim;\n  const titleAngleStem = normalizeText(topic.titleAngle).replace(/\\?$/, '');\n  const payoffLine = /^why\\s+/i.test(titleAngleStem)\n    ? 'That is because ' + lowerFirst(titleAngleStem.replace(/^why\\s+/i, '')) + '.'\n    : 'That is why ' + lowerFirst(titleAngleStem) + '.';\n  const beats = [\n    {\n      beatIndex: 1,\n      narration: hook,\n      visualIntent: 'Cold open with a hard contrast image and oversized motion text.'\n    },\n    {\n      beatIndex: 2,\n      narration: 'The question is simple: ' + normalizeText(topic.seedQuestion),\n      visualIntent: 'Introduce the problem with a familiar visual or one-line setup.'\n    },\n    {\n      beatIndex: 3,\n      narration: topClaim,\n      visualIntent: 'Reveal the main mechanism with kinetic text and one supporting visual.'\n    },\n    {\n      beatIndex: 4,\n      narration: supportClaim,\n      visualIntent: 'Layer in one extra detail that makes the fact feel memorable.'\n    },\n    {\n      beatIndex: 5,\n      narration: payoffLine + ' Follow for more compressed curiosity.',\n      visualIntent: 'Resolve with the payoff line and a short branded end card.'\n    }\n  ];\n\n  return {\n    success: true,\n    workflow: 'vibe-printing-short-script-generator',\n    generatedAt: new Date().toISOString(),\n    topic,\n    researchPack,\n    shortScript: {\n      hook,\n      payoff: payoffLine,\n      callToAction: 'Follow for more compressed curiosity.',\n      totalDurationSeconds: 38,\n      beats\n    },\n    metadataPack: {\n      titleOptions: [\n        normalizeText(topic.titleAngle),\n        'The real reason ' + lowerFirst(normalizeText(topic.titleAngle).replace(/\\?$/, '')),\n        'Explained fast: ' + normalizeText(topic.titleAngle)\n      ],\n      descriptionDraft: normalizeText(topic.titleAngle) + '. AI-assisted research and writing draft pending fact check before publish.',\n      tags: ['shorts', 'history', 'science', 'curiosity', String(topic.laneId ?? 'vibe-printing')],\n      disclosureRequired: true,\n      operatorMode: topic.riskLevel === 'medium' ? 'review-required' : 'shadow-review'\n    }\n  };\n};\n\nconst buildProductionPacket = (topic, shortScript, metadataPack) => {\n  const beats = Array.isArray(shortScript.beats) ? shortScript.beats : [];\n  const secondsPerBeat = Math.max(4, Math.floor(38 / Math.max(beats.length, 1)));\n  const scenePlan = beats.map((beat, index) => ({\n    sceneIndex: index + 1,\n    seconds: secondsPerBeat,\n    prompt: 'Vertical cinematic explainer visual for \"' + normalizeText(topic.titleAngle) + '\". ' + normalizeText(beat.visualIntent) + ' Clean background, high contrast, no burned-in text.',\n    captions: [normalizeText(beat.narration)]\n  }));\n\n  return {\n    success: true,\n    workflow: 'vibe-printing-production-packet-builder',\n    generatedAt: new Date().toISOString(),\n    topic,\n    shortScript,\n    scenePlan,\n    voiceoverPlan: {\n      provider: 'openai-tts-or-manual',\n      mode: 'dry-run',\n      voice: 'alloy',\n      style: 'curious, confident, fast but clear',\n      segments: beats.map((beat, index) => ({\n        segmentIndex: index + 1,\n        startSecond: index * secondsPerBeat,\n        durationSeconds: secondsPerBeat,\n        text: normalizeText(beat.narration)\n      }))\n    },\n    videoPlan: {\n      provider: 'sora-or-stock-footage',\n      mode: 'dry-run',\n      aspectRatio: '9:16',\n      shots: scenePlan.map((scene) => ({\n        sceneIndex: scene.sceneIndex,\n        prompt: scene.prompt,\n        targetSeconds: scene.seconds,\n        fallback: 'Use stock footage plus motion graphics if a model render is unavailable.'\n      }))\n    },\n    publishPackage: {\n      title: normalizeText(metadataPack.titleOptions?.[0]) || normalizeText(topic.titleAngle),\n      description: normalizeText(metadataPack.descriptionDraft),\n      tags: Array.isArray(metadataPack.tags) ? metadataPack.tags : ['shorts', 'vibe-printing'],\n      scheduledSlot: normalizeText(topic.publishSlot) || '11:00',\n      disclosureRequired: metadataPack.disclosureRequired !== false\n    }\n  };\n};\n\nconst requestedLaneIds = Array.isArray(body.laneIds) && body.laneIds.length > 0\n  ? body.laneIds.map((laneId) => String(laneId))\n  : laneCatalog.map((lane) => lane.id);\n\nconst selectedLanes = laneCatalog.filter((lane) => requestedLaneIds.includes(lane.id));\nif (selectedLanes.length === 0) {\n  return [{\n    json: {\n      success: false,\n      workflow: 'vibe-printing-dry-run-pipeline',\n      error: 'No valid laneIds were supplied.',\n      availableLaneIds: laneCatalog.map((lane) => lane.id)\n    }\n  }];\n}\n\nconst dailyTarget = clamp(Number(body.dailyTarget ?? 1), 1, 3);\nconst recentAngles = new Set(\n  (Array.isArray(body.recentAngles) ? body.recentAngles : [])\n    .map((value) => normalizeText(value).toLowerCase())\n    .filter(Boolean)\n);\nconst publishSlots = ['11:00', '15:00', '19:00'];\n\nconst perLaneBuckets = selectedLanes.map((lane, laneIndex) => ({\n  laneId: lane.id,\n  items: lane.angles\n    .filter((angle) => !recentAngles.has(normalizeText(angle.titleAngle).toLowerCase()))\n    .map((angle, angleIndex) => ({\n      topicId: lane.id + '-' + slugify(angle.titleAngle),\n      laneId: lane.id,\n      laneLabel: lane.label,\n      titleAngle: angle.titleAngle,\n      seedQuestion: angle.seedQuestion,\n      draftHook: angle.draftHook,\n      riskLevel: angle.riskLevel,\n      noveltyScore: Number((0.94 - (laneIndex * 0.03) - (angleIndex * 0.04)).toFixed(2)),\n      publishSlot: publishSlots[angleIndex % publishSlots.length],\n      autoPublishEligible: false,\n      operatorMode: 'shadow-review'\n    }))\n}));\n\nconst selectedCandidates = [];\nlet keepSelecting = true;\n\nwhile (keepSelecting && selectedCandidates.length < dailyTarget) {\n  keepSelecting = false;\n\n  for (const bucket of perLaneBuckets) {\n    const nextItem = bucket.items.shift();\n\n    if (!nextItem) {\n      continue;\n    }\n\n    keepSelecting = true;\n    selectedCandidates.push(nextItem);\n\n    if (selectedCandidates.length >= dailyTarget) {\n      break;\n    }\n  }\n}\n\nif (selectedCandidates.length === 0) {\n  return [{\n    json: {\n      success: false,\n      workflow: 'vibe-printing-dry-run-pipeline',\n      error: 'No candidates were available after recentAngles filtering.'\n    }\n  }];\n}\n\nconst topicIndex = clamp(Number(body.selectedTopicIndex ?? 0), 0, selectedCandidates.length - 1);\nconst selectedTopic = selectedCandidates[topicIndex];\nconst research = buildResearchPack(selectedTopic);\nconst scriptPack = buildScriptPack(selectedTopic, research);\nconst productionPacket = buildProductionPacket(selectedTopic, scriptPack.shortScript, scriptPack.metadataPack);\n\nreturn [{\n  json: {\n    success: true,\n    workflow: 'vibe-printing-dry-run-pipeline',\n    generatedAt: new Date().toISOString(),\n    runMode: 'free-dry-run',\n    notes: [\n      'No paid model calls were made in this run.',\n      'Research packs use seeded offline references or placeholders.',\n      'Voice and video outputs are production stubs, not rendered media.'\n    ],\n    planningSummary: {\n      selectedCount: selectedCandidates.length,\n      backlogCount: perLaneBuckets.reduce((count, bucket) => count + bucket.items.length, 0)\n    },\n    selectedTopic,\n    research,\n    scriptPack,\n    productionPacket\n  }\n}];"
      }
    },
    {
      "id": "d5682eaf-84ab-4622-92f8-fd4534aec7e2",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        0
      ],
      "parameters": {
        "options": {}
      }
    }
  ],
  "connections": {
    "Receive Request": {
      "main": [
        [
          {
            "node": "Run Workflow Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Workflow Logic": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
